
.filter-by-brand .list-cat {
    height: 100%;
    overflow-y: auto;
    max-height: 192px;
}

.pic {
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

.nameproduct {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 20px;
}

.prname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: 300;
}
.price {
    font-size: 15px;
    font-weight:100;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.rating label {
  font-size: 10px;

}

.pro {
    max-width: 300px;
  }

  .products {
    max-height:410px ;
    padding: 30px;
    box-shadow: #999 inset 0 0 10px;
}
  .products .pic {
    transition: transform 3.5s ease;
    cursor: pointer;
}

.products:hover .pic{
    transform: scale(1.3);
}

.products:hover .prname{
  color: #3ea78c;
  cursor: pointer;
  font-size: larger;
}


.list-cat {
    margin: 20px 0;
}

.list-cat table {
    width: 100%;
    border-collapse: collapse;
}

.list-cat tr {
    border-bottom: 1px solid #ddd;
}

.list-cat td {
    padding: 10px;
}

.list-cat a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.list-cat a:hover {
    color: #007bff;
}

.ipsearch {
    border-radius: 5px;
}
.btsearch {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btsearch:hover {
    background-color: #999;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sex{
    display: none;
}
/* Responsive Styles */
@media screen and (max-width: 412px) {
    .product-card {
        margin-left: 60px;

    }
    .filter-price {
        display: none;
    }
    .search {
        overflow: hidden;
    }
    .sidebar div {
        width: 100px;
    }
}
@media screen and ( max-width: 900px){
        .product-card {
            margin-left: 20px;
        }
        .search {
            overflow: hidden;
        }
}

